@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0;
    overflow-x: hidden ;
    scroll-behavior: smooth;
}

.font-jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-dm-serif {
    font-family: "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container{
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1025px) {
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}